
@{
    ViewData["Title"] = "ChangePassword";
}

<h1>ChangePassword</h1>

<form method="post" asp-action="ChangePassword">
    <input name = "Email" type="text"/>
    <input name = "CurrentPassword" type="password"/>
    <input name = "NewPassword" type="password"/>
    <button type = "submit">Change Password </button>
</form>

