
@{
    ViewData["Title"] = "ChangePassword";
}

<h1>ChangePassword</h1>

<form method="post" asp-action="Change Password">
    <input name = "Email" type="text"/>
    <input name = "Password" type="password"/>
    <input name = "Confirm Password" type="password"/>
    <button type = "submit">Login </button>
</form>