
@{
    ViewData["Title"] = "ForgotPassword";
}

<h1>ForgotPassword</h1>

<form method="post" asp-action="ForgotPassword">
    <input name = "FullName" type="text"/>
    <input name = "Email" type="text"/>
    <input name = "NewPassword" type="password"/>
    <button type = "submit">Save New Password </button>
</form>

