@model IEnumerable<_181022.Model.Division>

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Index";
}
<div class="card">
    <h1>Division</h1>

    <p>
        <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">Create New</a>
    </p>
    <table id="tableDivision">
        <thead>
            <tr>
                <th>No</th>
                <th>Id</th>
                <th>Name</th>
                <th>Action</th>
            </th> 
        </thead>
    </table>

    <!-- Modal -->
    <!-- Create New -->
    <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Create New</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            create
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Save</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Delete -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Delete</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure want to delete?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Detail -->
    <div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Details</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Details"></button>
          </div>
          <div class="modal-body">
            <div class="card text-center" style="width: 20rem" id="detailDepartement">
                <h4>Departement</h4>
                <div class="card-body">
                    <table class="table" id="tableMVC">
                        <thead class="table-dark">
                            <tr>
                                <th>No</th>
                                <th>Id</th>
                                <th>Name</th>
                            </th>
                        </thead>
                    </table>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Edit</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Edit"></button>
          </div>
          <div class="modal-body">
            <div class="card text-center" style="width: 20rem" id="editDepartement">
                <h4>Departement</h4>
                <div class="card-body">
                    <table class="table" id="tableMVC">
                        <thead class="table-dark">
                            <tr>
                                <th>No</th>
                                <th>Id</th>
                                <th>Name</th>
                            </th>
                        </thead>
                    </table>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Save Edit</button>
          </div>
        </div>
      </div>
    </div>

</div>

